---
import ProjectPreview from '@/components/profile/project-preview.astro';
import Link from '@/components/shared/actions/link/link.astro';
import Heading from '@/components/shared/heading/heading.astro';
import GithubIcon from '@/components/shared/icons/github.astro';
import Text from '@/components/shared/text/text.astro';
import { getProfile, getProjects } from '@/data';

const projects = getProjects();
const {
  socialMedia: { github: githubUrl },
} = getProfile();
---

<section id="projects" class="flex flex-col gap-6">
  <Heading tag="h2">
    <Link href="#projects" noWrap>Projects</Link>
  </Heading>
  <ul class="flex flex-col gap-10">
    {
      projects.map((project) => (
        <li id={project.title} class="flex flex-col gap-4">
          <Heading tag="h3" class="flex gap-2 justify-start items-center">
            <Link href={`#${project.title}`} noWrap>
              {project.title}
            </Link>
            <Link href={project.repo} target="_blank">
              <GithubIcon slot="icon" />
            </Link>
          </Heading>
          <Text>{project.description}</Text>
          <ProjectPreview
            src={project.website}
            title={project.title}
            class="pointer-events-none"
          />
        </li>
      ))
    }
  </ul>
  <div class="flex justify-center items-center">
    <Link
      href={`${githubUrl}?tab=repositories`}
      target="_blank"
      iconPosition="right"
    >
      <GithubIcon slot="icon" />
      See More Code
    </Link>
  </div>
</section>
