---
import type { HTMLAttributes } from 'astro/types';
import Skeleton from './skeleton.astro';

interface Props extends HTMLAttributes<'img'> {
  class?: string;
}

const { id: imgId } = Astro.props;

const skeletonId = `skeleton-${imgId}`;
const errorId = `error-${imgId}`;
---

<>
  <Skeleton class="img-skeleton" id={skeletonId} />
  <slot id={imgId} />
  <span
    id={errorId}
    class="img-error hidden w-full h-full absolute inset-0 justify-center items-center"
  >
    🚨 No image
  </span>
</>

<script define:vars={{ imgId, skeletonId, errorId }} is:inline>
const img = document.querySelector(`#${CSS.escape(imgId)}`);

if (!img)
  return;

const skeletonElement = document.querySelector(`#${CSS.escape(skeletonId)}`);
const errorElement = document.querySelector(`#${CSS.escape(errorId)}`);

function showLoaded() {
  skeletonElement?.remove();
}

function showError() {
  skeletonElement?.remove();

  img.classList.add('hidden');
  errorElement?.classList.remove('hidden');
  errorElement?.classList.add('flex');
}

if (img.complete) {
  if (img.naturalWidth > 0) {
    showLoaded();
  } else {
    showError();
  }
}

img.addEventListener('load', showLoaded, { once: true });
img.addEventListener('error', showError, { once: true });
</script>
